#wrap
  #header
    != partial :header
  #main
    %table{:width => "600"}
      %thead
        %tr
          %td
          %td
          %td
      %tbody
        - @assets.each do |asset|
          %tr
            %td
              - if params["links"] == "on"
                %a{:href => "/assets/#{asset.id}?edit=on"}
                  = asset.short_description_text
              - else
                = asset.short_description_text
            %td
            %td{:style => "text-align:right;"}
              = asset.price_text
  #footer
    != partial :footer
