#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    %div{ :class => "pager-links" }
      != pagination_links(@uri)

    - for i in 0..1
      %div{ :class => "row" }
        %div{ :class => "col-md-6" }
          - unless @assets[i*2].nil?
            != partial :asset_thumbnail, :asset => @assets[0]
        %div{ :class => "col-md-6" }
          - unless @assets[i*2+1].nil?
            != partial :asset_thumbnail, :asset => @assets[1]

  #footer
    != partial :footer
