#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    %div{ :id => "painting-selector" }
      - if "#{@prev_id}" != ""
        %a{ :href => "/paintings/view/#{@prev_id}" }
          <<
      - else
        &nbsp;
        &nbsp;

      &nbsp;
      &nbsp;
      - if "#{@next_id}" != ""
        %a{ :href => "/paintings/view/#{@next_id}" }
          >>
      - else
        &nbsp;
        &nbsp;

    %div
      %img{ :width => "500", :src => @asset.url, :alt => @asset.alt_text }
      %br
      != @asset.text_html
    %div

  #footer
    != partial :footer

