#wrap
  #header
    %a{ :href => "/" }
      %img{ :src => '/images/logo.png' }
  #nav
  #main
    %h3 CV
    
    %br
    %br

    %h4 Education
    
    %br
    2007 Massachusetts College of Art, Boston, MA , M.Ed., Art
    %br
    2000 Bard College, Annandale-on-Hudson, NY, B.A. Fine Art
    %br
    %br

    %h4 Additional Course Work
        
    %br
    Art Institute of Florence, School of Museum of Fine Ats, Rhode Island School Design, Kaji Asso Studios, Danforth Museum
    %br
    %br

    %h4 Selected Exhibitions

    %br
    2012 Lydia Pinkham Open Studios, Lynn, MA
    %br
    2008
    %em= "Voices, Mothers Who Create"
    , Little Gallery Under the Stairs, Lynn, MA
    %br
    2007
    %em= "Thesis Exhibition"
    , Arnheim Gallery, Boston, MA
    %br
    2003
    %em= "Lara Goodman"
    , West Side Lounge, Cambridge, MA
    %br
    2002
    %em= "For the Love of Paint"
    , St. George Gallery, Boston, MA
    %br
    2002 Bradley Street Open Studios, Somerville, MA
    %br
    2001
    %em= "Lara Goodman"
    , The Citizen’s Bank, Cambridge, MA
    %br
    2001
    %em= "Anniversary Show"
    , Out of the Blue Gallery, Cambridge, MA
    %br
    2000
    %em= "Incidental Discoveries"
    , The Fisher Gallery, Annandale-on-Hudson, NY
    %br
    1999
    %em= "aBroad"
    , The Fisher Gallery, Annandale-on-Hudson, NY
    %br
    1998
    %em= "I Stranieri"
    , Lorenzo de’Medici Gallery, Florence, Italy
    %br
    %br

    %h4 Teaching

    %br
    2005-2007 Elementary Art Educator, Marblehead, MA
    %br  
    2006 Middle School Art Educator, Buckingham Browne and Nichols, Cambridge, MA
    %br	 

  #sidebar
    %ul
      %li 
        %a{ :href => "/series/abstracts" } ABSTRACTS
      %li
        %a{ :href => "/series/oysters" } OYSTERS
      %li &nbsp;
      %li
        %a{ :href => "/CV" } CV     
      %li
        %a{ :href => "/contact" } CONTACT
  #footer
