#wrap
  #header
    != partial :header
  #nav
  #main
    %h3= @name
    %br
    %br
    - @assets.each do |asset|
      %div
        %img{ :src => asset.url, :alt => asset.alt_text }
        %br
        != asset.text_html
      %br

  #sidebar
    != partial :sidebar
  #footer
    != partial :footer