#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    != Asset.page(@page).pager.to_html '/paintings'

    %div{ :class => "thumbs-container" }
      %div{ :class => "thumbs-main" }
        %div{ :class => "thumbs-block" }
          != partial :asset_thumbnail, :asset => @assets[0]
        %div{ :class => "thumbs-block" }
          != partial :asset_thumbnail, :asset => @assets[1]

    %div{ :class => "thumbs-container" }
      %div{ :class => "thumbs-main" }
        %div{ :class => "thumbs-block" }
          != partial :asset_thumbnail, :asset => @assets[2]
        %div{ :class => "thumbs-block" }
          != partial :asset_thumbnail, :asset => @assets[3]


  #footer
    != partial :footer