#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    != pagination_links

    %div{ :class => "thumbs-container" }
      %div{ :class => "thumbs-main" }
        %div{ :class => "thumbs-block" }
          - unless @assets[0].nil?
            != partial :asset_thumbnail, :asset => @assets[0]
        %div{ :class => "thumbs-block" }
          - unless @assets[1].nil?
            != partial :asset_thumbnail, :asset => @assets[1]

    %div{ :class => "thumbs-container" }
      %div{ :class => "thumbs-main" }
        %div{ :class => "thumbs-block" }
          - unless @assets[2].nil?
            != partial :asset_thumbnail, :asset => @assets[2]
        %div{ :class => "thumbs-block" }
          - unless @assets[3].nil?
            != partial :asset_thumbnail, :asset => @assets[3]

  #footer
    != partial :footer